version: "3.8"

services:
  app:
    container_name: auth-login-with-cache-app
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - .:/var/www
    working_dir: /var/www

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: auth-login-with-cache-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: guilherme
      MYSQL_PASSWORD: 123
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: auth-login-with-cache-phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80" 
    environment:
      PMA_HOST: mysql
      PMA_USER: guilherme
      PMA_PASSWORD: 123
    depends_on:
      - mysql

  redis:
    image: redis:alpine
    container_name: auth-login-with-cache-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
volumes:
  mysql_data:


